.mainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .mainBody {
    display: flex;
    flex: 1;
  }
  
  .mainSearch {
    width: 50%;
  }
  
  .mainNutritionDisplay {
    width: 50%;
  }
}

.foodDiaryContainer {
  margin: 0 24px;
}

