.mainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .mainBody {
    display: flex;
    flex: 1;
  }

  .mainSearch {
    width: 60%;
  }

  .mainNutritionDisplay {
    width: 40%;
  }
}

.foodDiaryContainer {
  margin: 0 24px;
}
