@use "../Global.scss" as *;

.primary-button {
  background-color: $color-4 !important;
  color: white;
}

.primary-button.login-button {
  background-color: $color-4 !important;
  color: white;
}

.primary-button.login-button:hover {
  opacity: 0.8;
}

.secondary-button {
  border: 2px solid $color-4 !important;
  color: $color-4 !important;
}

.secondary-button.logout-button {
  margin: 0 0 0 10px !important;
  border-color: $color-1 !important;
  color: $color-1 !important;
}

.secondary-button.logout-button:hover {
  opacity: 0.8;
}

.MuiButton-root.iconButtons {
  box-sizing: border-box;
  font-weight: bold;
  color: black;
  border: none;
  padding: 0px;
  height: 30px;
  width: 30px;
  min-width: 0px;
  border-radius: 50%;
}

.MuiButton-root.iconButtons:hover {
  border: none;
  background-color: rgba(0, 0, 0, 0.04);
}

.MuiButton-root.cancelButton {
  color: gray;
  border-color: gray;
}

.MuiButton-root.cancelButton:hover {
  border-color: gray;
}