@use "../Global.scss" as *;

.MuiInputBase-root.primary-select {
  background-color: white;
}

.MuiInputBase-root.primary-select .MuiSelect-select {
  border-radius: 0;
}

.MuiInputBase-root.primary-select fieldset {
  border: 1px solid $primary-color;
}

.MuiInputBase-root.primary-select:hover fieldset {
  border: 2px solid $primary-color;
}

.MuiInputBase-root.primary-select:hover {
  outline: none;
  border: none;
}

.MuiInputBase-root.primary-select.Mui-focused fieldset {
  border: 2px solid $primary-color;
}

.MuiInputLabel-root.primary-select-label.Mui-focused {
  color: rgba(35, 45, 42, 0.706);
}


