@use "../Global.scss" as *;

.dateSelectorContainer {
    display: flex;
    justify-content: center; 
  }

.foodDiaryHeader h1 {
    margin-right: 10px;
}


.foodDiaryTableContainer {
    margin: 0 50px;

}

.totalNutrientsContainer {
    display: flex;
    justify-content: flex-end;

}

.nutrientTableSpacer {
    width: 100px;
}

.tableGroupedSelect {
    background-color: white;
}

.tableGroupedSelect.MuiInputBase-root fieldset {
  border: 1px solid $primary-color;
}

.tableGroupedSelect.MuiInputBase-root:hover fieldset {
  border: 2px solid $primary-color;
}

.tableGroupedSelect.MuiInputBase-root.Mui-focused fieldset {
  border: 2px solid $primary-color;
}
