@use "../Global.scss" as *;

.foodDiaryDateSelector {
  display: flex;
  justify-content: center;
}

.foodDiaryTable {
  margin: 0 50px;
}

.totalNutrientsContainer {
  display: flex;
  justify-content: flex-end;
}

.nutrientTableSpacer {
  width: 97px;
}
