@use "../Global.scss" as *;

header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 2rem;
  text-align: center;
  font-family: $font-primary;
  font-weight: regular;
  font-size: $font-size-md;
}

header h1 {
  font-size: $font-size-lg;
}

.header-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-center p {
  margin: 0 5px;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logout-wrapper {
  display: flex;
  align-items: center;
}
