$primary-color: #5D796F;
$color-1: #CAEECF;
$color-2: #9BC8B8;
$color-3: #7CA081;
$color-4: #2A3326;
$color-gray: rgb(242,242,242);

$font-primary: 'Roboto', sans-serif;

$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 36px;